/* Color Variables */

:root {
    --almostWhite: hsl(0, 0%, 98%);
    --mediumGray: hsl(0, 0%, 41%);
    --almostBlack: hsl(0, 0%, 8%);
}

html {
    font-size: 100%;
    box-sizing: border-box;
    font-family: Epilogue, sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.main {
    width: 100%;
    max-width: 375px;
    height: 780px;
    margin: 0 auto;
    background-color: var(--almostWhite);
}


.header-menu {
    position: fixed;
    height: 1.1875rem;
    z-index: 1;
    margin-left: 85%;
    padding-right: 0;
    left: 8px;
    top: 27px;
}

/* span elements that make Hamburger menu */

.header-menu-container {
    z-index: 10;
}


.header-menu > span {    
    display: block;
    width: 32px;
    height: 2px;
    background-color: var(--almostBlack);
    transition: all 300ms ease-in-out;
    transform-origin: 13% 61.5%;
}

.header-menu > span:not(:last-child) {
    margin-bottom: 6px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}


.header-open > span:first-child {
    transform: rotate(45deg);
}

.header-open > span:nth-child(2) {
    opacity: 0;
}

.header-open > span:last-child {
    transform: rotate(-45deg);
}

.header-logo {
    margin-top: 24px;
    margin-left: 15px;
}

.header-nav {
    display: none;
}


.header-links {
    display: none;
}

/* overlay for hamburger menu */

.overlay {        /* whitespace for overlay menu */
    display: block;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: var(--almostWhite);
    max-width: 64.266%;
    margin-left: auto; 
    margin-right: 0;
    z-index: 1;
}

.overlay-2 {
    display: block;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    max-width: 35.734%;
    margin-left: 0; 
    margin-right: auto;
    background-color: var(--almostBlack);
    filter: contrast(13);
    z-index: 4;
}

/* animations for overlay and overlay2 sliding */

#overlay {
    transform: translateX(100%);
    transition: all 300ms ease-in-out;
}
  
#overlay.open {
    transform: translateX(0%);
}

#overlay2 {
    transform: translateX(-100%);
    transition: all 300ms ease-in-out;
}

#overlay2.open {
    transform: translateX(0%);
}

#overlay.close {
    transform: translateX(100%);
}
    
#overlay2.close {
    transform: translateX(-100%);
}


/* links in hamburger menu */
.header-display {       
    display: flex;
    flex-direction: column;
    position: relative;
    top: -65px;
    left: -3px;
}

.header-display > a {
    text-align: left;
    padding-left: 1.625rem;
    text-decoration: none;
    color: var(--mediumGray);
    font-size: 16px;
    line-height: 0.7;
}


.header-display > a:not(:last-child) {
    margin-bottom: 31.15px;
}

.down-arrow1 {
    width: 10px;
    position: relative;
    top: -40px;
    left: 112px;
    margin: 0;
    transition: all 200ms linear;
}

.down-arrow1.active {
    transform: rotate(180deg);
}

.down-arrow2 {
    width: 10px;
    position: relative;
    top: -41px;
    left: 115px;
    margin: 0;
    transition: all 200ms linear;
}

.down-arrow2.active {
    transform: rotate(180deg);
}

/* Submenu for Features */

.features-submenu {
    width: 100%;
    max-width: 120px;
    height: 147px;
    position: relative;
    top: -19px;
    left: 49px;
    list-style: none;
    padding: 0;
    display: none;
    animation: open 200ms linear, growDown 200ms linear;
    background-color: var(--almostWhite);
}

@keyframes open {
    0% {
        height: 0px;
    }

    30% {
        height: 30px;
    }

    60% {
        height: 73px;
    }

    90% {
        height: 110px;
    }
    100% {
        height: auto;
    }
} 

@keyframes growDown {
    0% {
        transform: scaleY(0);
        transform: scaleX(0);
    }
    80% {
        transform: scaleY(1.1);
        transform: scaleX(1.1);
    }
    100% {
        transform: scaleY(1);
        transform: scaleX(1);
    }
}


.features-submenu.show {
    display: inline-block;
}

.features-subM {
    margin-top: 150px;
    padding-top: 0;
}

li {
    display: inline-block;
}

ul > li:not(:last-child) {
    margin-bottom: 18px;
}

ul {
    position: relative;
    top: 2px;
}

.icon {
    margin-left: 1px;
    width: 18px;
    height: 20px;
    position: relative;
    top: -2px;
}

.icon-2 {
    width: 20px;
}

.icon-3 {
    width: 17px;
}

.submenu-option {
    width: 69%;
    position: relative;
    top: -7px;
    left: 11px;
    color: var(--mediumGray);
}

/* Company Submenu */

.company-submenu {
    width: 100%;
    max-width: 111px;
    height: 105px;
    color: var(--mediumGray);
    position: relative;
    left: 51px;
    top: -26px;
    padding: 0;
    display: none;
    animation: open 200ms linear, growDown 200ms linear;
    background-color: var(--almostWhite);
}

.company-submenu.show {
    display: inline-block;
}

.company-submenu > li:nth-child(2) {
    width: 69%;
}

.company-submenu > li:not(:last-child) {
    margin-bottom: 25px;
}


.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -10px;  
}

.login {
    position: relative;
    top: -17px;
    left: -1px;
    color: var(--mediumGray);
    font-size: 14px;
    text-decoration: none;
}

.register-btn {
    width: 193px;
    height: 42px;
    border-radius: 14px;
    border: 2px solid var(--mediumGray);
    background-color: var(--almostWhite);
    cursor: pointer;
    font-size: 14px;
    font-family: Epilogue, sans-serif;
    color: var(--mediumGray);
    transition: 150ms ease-in-out;
    box-shadow: 0px 0px 4px var(--mediumGray);
}

.register-btn:active {
    transform: translateY(2px);
    box-shadow: 0px 0px 0px var(--mediumGray);
}

/* animations for Hamburger menu overlay */

@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }
    1% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        visibility: visible;
        opacity: 1;
    }
    99% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}

/* animations for overlay2 */
@keyframes fade-in2 {
    from {
        visibility: hidden;
        opacity: 0;
    }
    1% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 0.5;
    }
}

@keyframes fade-out2 {
    from {
        visibility: visible;
        opacity: 0.5;
    }
    99% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}

/* Helper classes for animations */

.fade-in {
    animation: fade-in 200ms ease-in-out forwards;
}

.fade-out {
    animation: fade-out 200ms ease-in-out forwards;
}

.fade-in2 {
    animation: fade-in2 200ms ease-in-out forwards;
}

.fade-out2 {
    animation: fade-out2 200ms ease-in-out forwards;
}

.has-fade {
    visibility: hidden;
}

.has-fade2 {
    visibility: hidden;
}

/* Hero Section */

.img-container-mobile {
    width: 100%;
    max-width: 376px;
    height: 282px;
    background-image: url('images/image-hero-mobile.png');
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
}

.img-container-desktop {
    display: none;
}

.hero-heading {
    margin-top: 0;
    margin-bottom: 19px;
    text-align: center;
    font-size: 35.4px;
}

.hero-desc {
    color: var(--mediumGray);
    text-align: center;
    line-height: 1.6;
    margin: 0px 17px 25px 15px;
}

.hero-btn {
    display: block;
    width: 136px;
    height: 48px;
    margin: 0 auto 51px auto;
    padding: 2px 0 0 4px;
    border-radius: 15px;
    border: none;
    background-color: var(--almostBlack);
    font-size: 16px;
    font-family: Epilogue, sans-serif;
    color: white;
    position: relative;
    left: -1px;
    cursor: pointer;
    transition: 150ms ease-in-out;
    box-shadow: 0px 0px 4px var(--mediumGray);
}

.hero-btn:hover {
    border: solid 1px var(--almostBlack);
    background-color: var(--almostWhite);
    color: var(--almostBlack);
}

.hero-btn:active {
    transform: translateY(2px);
    box-shadow: 0px 0px 0px var(--mediumGray);
}

.clients {
    display: flex;
    justify-content: space-around;
}

.client-1 {
    width: 82px;
    height: 14px;
    position: relative;
    top: 3px;
    left: 0px;
}

.client-2 {
    width: 53px;
    height: 26px;
    position: relative;
    top: -3px;
    left: -1px;
}

.client-3 {
    width: 63px;
    height: 15px;
    position: relative;
    top: 3px;
    left: -1px;
}

.client-4 {
    width: 59px;
    height: 17px;
    position: relative;
    top: 2px;
    left: -1px;
}

/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */

/* Media Queries */

/* Very large devices (very large laptops and desktops, 1440px and up) */
@media only screen and (min-width: 1440px) {
    .main {
        max-width: 1440px;
        height: 900px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid black;
    }

    .overlay {
        display: none;
    }

    .overlay-2 {
        display: none;
    }

    .img-container-mobile {
        display: none;
    }

    .img-container-desktop {
        display: inline-block;
        width: 100%;
        max-width: 480px;
        height: 640px;
        background-image: url('images/image-hero-desktop.png');
        background-size: cover;
        background-position: center;
        order: 1;
        margin-top: 41px;
        margin-right: 129px;
    }

    #btnHamburger {
        display: none;
    }

    nav {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 25px;
    }

    .header-logo {
        margin-left: 40px;
        margin-right: 75px;
        margin-top: 30px;
    }

    .header-nav {
        display: flex;
        align-items: flex-start;
        position: relative;
        top: 18px;
        left: -52px;
        font-size: 14px;
        margin-bottom: 6px;
    }

    .header-nav > li:nth-child(1) {
        margin-right: -2px;
    }


    .header-arrow {
        position: relative;
        left: 4px;
        top: -1px;
        transition: all 200ms linear;
    }

    .header-arrow.active {
        transform: rotate(180deg);
        filter:contrast(200);
    }

    .header-arrow2 {
        left: 4px;
    }

    .header-link {
        text-decoration: none;
        color: var(--mediumGray);
        transition: 150ms ease-in-out;
    }

    .header-link:hover {
        color: var(--almostBlack);
    }

    .header-features {
        width: 60px;
        display: inline-block;
    }

    /* Desktop Features Submenu */

    .features-submenu-desktop {
        width: 100%;
        max-width: 153px;
        height: 160px;
        position: absolute;
        top: 36px;
        left: -35px;
        list-style: none;
        padding: 0;
        display: none;
        animation: open 200ms linear, growDown 200ms linear;
        box-shadow: 3px 12px 80px -24px var(--mediumGray);
        border-radius: 10px;
        padding-left: 25px;
        padding-top: 27px;
        background-color: var(--almostWhite);
    }

    .features-submenu-desktop.show {
        display: inline-block;
    }

    .submenu-option {
        width: 69%;
        transition: 150ms ease-in-out;
        cursor: pointer;
    }

    .submenu-option:hover {
        color: var(--almostBlack);
    }

    .feature-subItem {
        width: 72%
    }

    .header-company {
        margin-left: -1px;
        position: relative;
        left: 47px;
    }

    /* Desktop Company Submenu */

    .company-submenu-desktop {
        width: 149%;
        max-width: 119px;
        height: 129px;
        color: var(--mediumGray);
        position: absolute;
        left: 0px;
        top: 36px;
        display: none;
        animation: open 200ms linear, growDown 200ms linear;
        box-shadow: 3px 12px 80px -24px var(--mediumGray);
        background-color: var(--almostWhite);
        border-radius: 10px;
        padding-top: 31px;
        padding-left: 14px;
    }
    
    .company-submenu-desktop.show {
        display: inline-block;
    }
    
    .company-submenu-desktop > li:nth-child(2) {
        width: 71%;
    }
    
    .company-submenu-desktop > li:not(:last-child) {
        margin-bottom: 15px;
    }



    .header-careers {
        margin-left: 43px;
        position: relative;
        left: 47px;
    }

    .header-about {
        margin-left: 40px;
        margin-right: 45vw;
        position: relative;
        left: 47px;
    }

    .desktop-login {
        text-decoration: none;
        color: var(--mediumGray);
        position: relative;
        left: 26px;
    }

    .header-btn {
        margin-left: 21px;
        position: relative;
        top: -13px;
        left: 26px;
    }

    .register-btn {
        width: 104px;
        height: 42px;
        border-radius: 14px;
        border: 2px solid var(--mediumGray);
        background-color: var(--almostWhite);
        cursor: pointer;
        font-size: 14px;
        font-family: Epilogue, sans-serif;
        color: var(--mediumGray);
        transition: 150ms ease-in-out;
        box-shadow: 0px 0px 3px -1px var(--almostBlack);
    }

    .register-btn:hover {
        border: 2px solid var(--almostBlack);
        color: var(--almostBlack);
    }

    .register-btn:active {
        box-shadow: 0px 0px 0px 0px;
    }

    /* Hero Section */

    .hero {
        display: flex;
    }

    .hero-content-container {
        display: flex;
        flex-direction: column;
        justify-content: center
        
    }

    .hero-heading {
        width: 62%;
        margin-left: 164px;
        font-size: 80px;
        text-align: left;
        letter-spacing: -1.3px;
        margin-top: 119px;
        margin-bottom: 69px;
        position: relative;
        top: 24px;
        display: inline-block;
    }

    .hero-desc {
        text-align: left;
        width: 53%;
        margin-left: 164px;
        font-size: 18px;
        margin-bottom: 52px;
    }

    .hero-btn {
        margin: -1px 0 107px 165px;
        width: 163px;
        height: 55px;
        font-size: 17.5px;
        padding-bottom: 1px;
        font-weight: 700;
        box-shadow: 0px 0px 4px var(--almostBlack);
    }

    .clients {
        width: 50%;
        margin-left: 194px;
        margin-top: 7px;
    }

    .client-1 {
        width: 114px;
        height: 20px;
        position: relative;
        top: 3px;
        left: -2px;
        margin-right: 26px;
    }

    .client-2 {
        width: 73px;
        height: 36px;
        position: relative;
        top: -5px;
        left: 12px;
        margin-right: 51px;
    }

    .client-3 {
        width: 90px;
        height: 20px;
        position: relative;
        top: 3px;
        left: 1px;
        margin-right: 33px;
    }

    .client-4 {
        width: 86px;
        height: 24px;
        position: relative;
        top: 1px;
        left: 7px;
    }



    .icon {

    }

    .icon-1 {
        width: 14px;
        height: 16px;
    }

    .icon-2 {
        width: 17px;
        height: 16px;
    }

    .icon-3 {
        width: 12px;
        height: 17px;
    }

    .icon-4 {
        margin-left: 1px;
        width: 16px;
        height: 16px;
        position: relative;
        top: -2px;
    }

    ul > li:not(:last-child) {
        margin-bottom: 11px;
    }

}



