/* Color Variables */

:root {
    --almostWhite: hsl(0, 0%, 98%);
    --mediumGray: hsl(0, 0%, 41%);
    --almostBlack: hsl(0, 0%, 8%);
}

html {
    font-size: 100%;
    box-sizing: border-box;
    font-family: Epilogue, sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.main {
    width: 100%;
    max-width: 375px;
    height: 780px;
    margin: 0 auto;
    border: 1px solid black;
    background-color: var(--almostWhite);
}


.header-menu {
    position: fixed;
    height: 1.1875rem;
    z-index: 1;
    margin-left: 85%;
    padding-right: 0;
    left: 8px;
    top: 27px;
}

/* span elements that make Hamburger menu */

.header-menu-container {
    z-index: 10;
}


.header-menu > span {    
    display: block;
    width: 32px;
    height: 2px;
    background-color: var(--almostBlack);
    transition: all 300ms ease-in-out;
    transform-origin: 13% 61.5%;
}

.header-menu > span:not(:last-child) {
    margin-bottom: 6px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}


.header-open > span:first-child {
    transform: rotate(45deg);
}

.header-open > span:nth-child(2) {
    opacity: 0;
}

.header-open > span:last-child {
    transform: rotate(-45deg);
}

.header-logo {
    margin-top: 24px;
    margin-left: 15px;
}


.header-links {
    display: none;
}

/* overlay for hamburger menu */

.overlay {        /* whitespace for overlay menu */
    display: block;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: var(--almostWhite);
    max-width: 64.266%;
    margin-left: auto; 
    margin-right: 0;
    z-index: 1;
}

.overlay-2 {
    display: block;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    max-width: 35.734%;
    margin-left: 0; 
    margin-right: auto;
    background-color: var(--almostBlack);
    filter: contrast(13);
    z-index: 4;
}

/* animations for overlay and overlay2 sliding */

#overlay {
    transform: translateX(100%);
    transition: all 300ms ease-in-out;
}
  
#overlay.open {
    transform: translateX(0%);
}

#overlay2 {
    transform: translateX(-100%);
    transition: all 300ms ease-in-out;
}

#overlay2.open {
    transform: translateX(0%);
}

#overlay.close {
    transform: translateX(100%);
}
    
#overlay2.close {
transform: translateX(-100%);
}


/* links in hamburger menu */
.header-display {       
    display: flex;
    flex-direction: column;
    position: relative;
    top: -65px;
    left: -3px;
}

.header-display > a {
    text-align: left;
    padding-left: 1.625rem;
    text-decoration: none;
    color: var(--mediumGray);
    font-size: 16px;
    line-height: 0.7;
}

.header-display > a:first-child {
    padding-top: 9.375rem;
}

.header-display > a:not(:last-child) {
    margin-bottom: 31.15px;
}

.down-arrow1 {
    width: 10px;
    position: relative;
    top: -40px;
    left: 112px;
    margin: 0;
    transition: all 200ms linear;
}

.down-arrow2 {
    width: 10px;
    position: relative;
    top: -41px;
    left: 115px;
    margin: 0;
    transition: all 200ms linear;
}

/* Submenu for Features */

.features-submenu {
    width: 100%;
    max-width: 120px;
    height: 147px;
    border: 1px solid black;
    position: relative;
    top: -5px;
    left: 50px;
}

.todo-icon {
    width: 18px;
    margin-left: 1px;
}

.active {
    transform: rotate(180deg);   
}

div > a {
    text-decoration: none;
    color: var(--mediumGray);
}




.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -10px;  
}

.login {
    position: relative;
    top: -17px;
    left: -1px;
    color: var(--mediumGray);
    font-size: 14px;
    text-decoration: none;
}

.register-btn {
    width: 193px;
    height: 42px;
    border-radius: 14px;
    border: 2px solid var(--mediumGray);
    background-color: var(--almostWhite);
    cursor: pointer;
    font-size: 14px;
    font-family: Epilogue, sans-serif;
    color: var(--mediumGray);
    transition: 150ms ease-in-out;
    box-shadow: 0px 0px 4px var(--mediumGray);
}

.register-btn:active {
    transform: translateY(2px);
    box-shadow: 0px 0px 0px var(--mediumGray);
}

/* animations for Hamburger menu overlay */

@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }
    1% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        visibility: visible;
        opacity: 1;
    }
    99% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}

/* animations for overlay2 */
@keyframes fade-in2 {
    from {
        visibility: hidden;
        opacity: 0;
    }
    1% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 0.5;
    }
}

@keyframes fade-out2 {
    from {
        visibility: visible;
        opacity: 0.5;
    }
    99% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}

/* Helper classes for animations */

.fade-in {
    animation: fade-in 200ms ease-in-out forwards;
}

.fade-out {
    animation: fade-out 200ms ease-in-out forwards;
}

.fade-in2 {
    animation: fade-in2 200ms ease-in-out forwards;
}

.fade-out2 {
    animation: fade-out2 200ms ease-in-out forwards;
}

.has-fade {
    visibility: hidden;
}

.has-fade2 {
    visibility: hidden;
}

/* Hero Section */

.img-container {
    width: 100%;
    max-width: 376px;
    height: 282px;
    background-image: url('images/image-hero-mobile.png');
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
}

.hero-img {
    width: 100%;
    height: 100%;
}

.hero-heading {
    margin-top: 0;
    margin-bottom: 19px;
    text-align: center;
    font-size: 35.4px;
}

.hero-desc {
    color: var(--mediumGray);
    text-align: center;
    line-height: 1.6;
    margin: 0px 17px 25px 15px;
}

.hero-btn {
    display: block;
    width: 136px;
    height: 48px;
    margin: 0 auto 51px auto;
    padding: 2px 0 0 4px;
    border-radius: 15px;
    border: none;
    background-color: var(--almostBlack);
    font-size: 16px;
    font-family: Epilogue, sans-serif;
    color: white;
    position: relative;
    left: -1px;
    cursor: pointer;
    transition: 150ms ease-in-out;
    box-shadow: 0px 0px 4px var(--mediumGray);
}

.hero-btn:hover {
    border: solid 1px var(--almostBlack);
    background-color: var(--almostWhite);
    color: var(--almostBlack);
}

.hero-btn:active {
    transform: translateY(2px);
    box-shadow: 0px 0px 0px var(--mediumGray);
}

.clients {
    display: flex;
    justify-content: space-around;
}

.client-1 {
    width: 82px;
    height: 14px;
    position: relative;
    top: 3px;
    left: 0px;
}

.client-2 {
    width: 53px;
    height: 26px;
    position: relative;
    top: -3px;
    left: -1px;
}

.client-3 {
    width: 63px;
    height: 15px;
    position: relative;
    top: 3px;
    left: -1px;
}

.client-4 {
    width: 59px;
    height: 17px;
    position: relative;
    top: 2px;
    left: -1px;
}

/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */

/* Media Queries */

/* Very large devices (very large laptops and desktops, 1440px and up) */
@media only screen and (min-width: 1440px) {

}

        /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

