/* Color Variables */

:root {
    --almostWhite: hsl(0, 0%, 98%);
    --mediumGray: hsl(0, 0%, 41%);
    --almostBlack: hsl(0, 0%, 8%);
}

html {
    font-size: 100%;
    box-sizing: border-box;
    font-family: Epilogue, sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: var(--almostWhite);
}

.main {
    width: 100%;
    max-width: 375px;
    height: 780px;
    margin: 0 auto;
    background-color: var(--almostWhite);
}

.header-menu {
    height: 1.1875rem;
    margin-left: 85%;
    padding-right: 0;
    position: fixed;
    left: 8px;
    top: 27px;
    z-index: 1;
}

/* span elements that make Hamburger menu */

.header-menu-container {
    z-index: 10;
}

.header-menu > span {    
    display: block;
    width: 32px;
    height: 2px;
    background-color: var(--almostBlack);
    transition: all 300ms ease-in-out;
    transform-origin: 13% 61.5%;
}

.header-menu > span:not(:last-child) {
    margin-bottom: 6px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.header-open > span:first-child {
    transform: rotate(45deg);
}

.header-open > span:nth-child(2) {
    opacity: 0;
}

.header-open > span:last-child {
    transform: rotate(-45deg);
}

.header-logo {
    width: 85px;
    height: 30px;
    margin-top: 24px;
    margin-left: 15px;
}

.header-nav {
    display: none;
}

.header-links {
    display: none;
}

/* overlay for hamburger menu */

.overlay {        /* whitespace for overlay menu */
    display: block;
    max-width: 64.266%;
    margin-left: auto; 
    margin-right: 0;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: var(--almostWhite);
    z-index: 1;
}

.overlay-2 {
    display: block;
    max-width: 35.734%;
    margin-left: 0; 
    margin-right: auto;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: var(--almostBlack);
    filter: contrast(13);
    z-index: 4;
}

/* animations for overlay and overlay2 sliding */

#overlay {
    transform: translateX(100%);
    transition: all 300ms ease-in-out;
}
  
#overlay.open {
    transform: translateX(0%);
}

#overlay2 {
    transform: translateX(-100%);
    transition: all 300ms ease-in-out;
}

#overlay2.open {
    transform: translateX(0%);
}

#overlay.close {
    transform: translateX(100%);
}
    
#overlay2.close {
    transform: translateX(-100%);
}

/* links in hamburger menu */
.header-display {       
    display: flex;
    flex-direction: column;
    position: relative;
    top: -65px;
    left: -3px;
}

.header-display > a {
    text-align: left;
    padding-left: 1.625rem;
    text-decoration: none;
    font-size: 16px;
    color: var(--mediumGray);
    line-height: 0.7;
}

.header-display > a:not(:last-child) {
    margin-bottom: 31.15px;
}

.down-arrow1 {
    width: 10px;
    margin: 0;
    position: relative;
    top: -40px;
    left: 112px;
    transition: all 200ms linear;
}

.down-arrow1.active {
    transform: rotate(180deg);
}

.down-arrow2 {
    width: 10px;
    margin: 0;
    position: relative;
    top: -41px;
    left: 115px;
    transition: all 200ms linear;
}

.down-arrow2.active {
    transform: rotate(180deg);
}

/* Submenu for Features */

.features-submenu {
    display: none;
    width: 100%;
    max-width: 120px;
    height: 147px;
    padding: 0;
    position: relative;
    top: -19px;
    left: 49px;
    list-style: none;
    animation: open 200ms linear, growDown 200ms linear;
    background-color: var(--almostWhite);
}

/* Animations for Submenus */

@keyframes open {
    0% {
        height: 0px;
    }

    30% {
        height: 30px;
    }

    60% {
        height: 73px;
    }

    90% {
        height: 110px;
    }
    100% {
        height: auto;
    }
} 

@keyframes growDown {
    0% {
        transform: scaleY(0);
        transform: scaleX(0);
    }
    80% {
        transform: scaleY(1.1);
        transform: scaleX(1.1);
    }
    100% {
        transform: scaleY(1);
        transform: scaleX(1);
    }
}

/* Feature Submenu Styles */

.features-submenu.show {
    display: inline-block;
}

.features-submenu.dark {
    background-color: var(--almostBlack);
}

.features-mobile-header {
    margin-top: 150px;
    padding-top: 0;
}

li {
    display: inline-block;
}

ul > li:not(:last-child) {
    margin-bottom: 18px;
}

ul {
    position: relative;
    top: 2px;
}

.icon {
    width: 18px;
    height: 20px;
    margin-left: 1px;
    position: relative;
    top: -2px;
}

.icon-2 {
    width: 20px;
}

.icon-3 {
    width: 17px;
}

.submenu-option {
    width: 69%;
    position: relative;
    top: -7px;
    left: 11px;
    color: var(--mediumGray);
    cursor: pointer;
}

/* Company Submenu */

.company-submenu {
    display: none;
    width: 100%;
    max-width: 111px;
    height: 105px;
    padding: 0;
    position: relative;
    left: 51px;
    top: -26px;
    background-color: var(--almostWhite);
    color: var(--mediumGray);
    animation: open 200ms linear, growDown 200ms linear;
}

.company-submenu > li {
    cursor: pointer;
}

.company-submenu.show {
    display: inline-block;
}

.company-submenu.dark {
    background-color: var(--almostBlack);
}

.company-submenu > li:nth-child(2) {
    width: 69%;
}

.company-submenu > li:not(:last-child) {
    margin-bottom: 25px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -10px;  
}

.login {
    position: relative;
    top: -17px;
    left: -1px;
    font-size: 14px;
    color: var(--mediumGray);
    text-decoration: none;
}

.register-btn {
    width: 100%;
    max-width: 193px;
    height: 42px;
    background-color: var(--almostWhite);
    border: 2px solid var(--mediumGray);
    border-radius: 14px;
    font-family: Epilogue, sans-serif;
    font-size: 14px;
    color: var(--mediumGray);
    cursor: pointer;
    transition: 150ms ease-in-out;
    box-shadow: 0px 0px 4px var(--mediumGray);
}

.register-btn:active {
    transform: translateY(2px);
    box-shadow: 0px 0px 0px var(--mediumGray);
}

/* animations for Hamburger menu overlay */

@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }
    1% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        visibility: visible;
        opacity: 1;
    }
    99% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}

/* animations for overlay2 */
@keyframes fade-in2 {
    from {
        visibility: hidden;
        opacity: 0;
    }
    1% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 0.7;
    }
}

@keyframes fade-out2 {
    from {
        visibility: visible;
        opacity: 0.7;
    }
    99% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}

/* Helper classes for animations */

.fade-in {
    animation: fade-in 200ms ease-in-out forwards;
}

.fade-out {
    animation: fade-out 200ms ease-in-out forwards;
}

.fade-in2 {
    animation: fade-in2 200ms ease-in-out forwards;
}

.fade-out2 {
    animation: fade-out2 200ms ease-in-out forwards;
}

.has-fade {
    visibility: hidden;
}

.has-fade2 {
    visibility: hidden;
}

/* animations for submenu options */

.pulsate {
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    transform-origin: center center;
}
  
@keyframes pulsate {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
}

/* Hero Section */

.img-container-mobile {
    width: 100%;
    max-width: 376px;
    height: 282px;
    margin-bottom: 50px;
    background-image: url('images/image-hero-mobile.png');
    background-size: cover;
    background-position: center;
}

.img-container-desktop {
    display: none;
}

.hero-heading {
    margin-top: 0;
    margin-bottom: 19px;
    text-align: center;
    font-size: 35.4px;
}

.hero-desc {
    margin: 0px 17px 25px 15px;
    text-align: center;
    line-height: 1.6;
    color: var(--mediumGray);
}

.hero-btn {
    display: block;
    width: 136px;
    height: 48px;
    margin: 0 auto 51px auto;
    padding: 2px 0 0 4px;
    position: relative;
    left: -1px;
    background-color: var(--almostBlack);
    border: none;
    border-radius: 15px;
    font-family: Epilogue, sans-serif;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: 150ms ease-in-out;
    box-shadow: 0px 0px 4px var(--mediumGray);
}

.hero-btn:hover {
    background-color: var(--almostWhite);
    border: solid 1px var(--almostBlack);
    color: var(--almostBlack);
}

.hero-btn:active {
    transform: translateY(2px);
    box-shadow: 0px 0px 0px var(--mediumGray);
}

.clients {
    display: flex;
    justify-content: space-around;
}

.client-1 {
    width: 82px;
    height: 14px;
    position: relative;
    top: 3px;
    left: 0px;
}

.client-2 {
    width: 53px;
    height: 26px;
    position: relative;
    top: -3px;
    left: -1px;
}

.client-3 {
    width: 63px;
    height: 15px;
    position: relative;
    top: 3px;
    left: -1px;
}

.client-4 {
    width: 59px;
    height: 17px;
    position: relative;
    top: 2px;
    left: -1px;
}

/* Dark Mode Styles */

.dark-background {
    background-color: var(--almostBlack);
}

.gray-text {
    color: var(--mediumGray);
}

.gray-background {
    background-color: var(--mediumGray);
}

.light-text {
    color: var(--almostWhite);
}

.light-background {
    background-color: var(--almostWhite);
}

.light-filter {
    filter:contrast(0);
}

.light-button {
    background-color: var(--almostWhite);
    color: var(--almostBlack);
}

.header-link.light-text:hover {
    color: white;
}


.hamburger-menu.light-background {
    background-color: var(--almostWhite);
}

/* Dark Mode Buttons */

/* Dark Mode Button 1 */

.toggle-container-mobile {
    margin-top: 50px;
}

.toggle-container-desktop {
    display: none;
  }
  
.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-2 {
    opacity: 0;
    position: absolute;
}

.label {
    display: inline-block;
    width: 80px;
    height: 40px;
    position: relative;
    background-color: var(--almostWhite);
    border-radius: 40px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transition: background 200ms linear;
    cursor: pointer;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.fa-moon {
    font-size: 18px;
    color: #333;
}

.fa-sun {
    font-size: 18px;
    color: #333;
}

.switch {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: var(--almostWhite);
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transition: transform 200ms linear;
    cursor: pointer;
}

.switch-2 {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: var(--almostWhite);
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transition: transform 200ms linear;
    cursor: pointer;
}

.switch.gray-background {
    background-color: #333;
}

.checkbox:checked + .label {
    background-color: var(--almostBlack);
}

.checkbox:checked + .label .switch {
    transform: translateX(30px);
}

.checkbox:checked + .label .fa-sun {
    display: none;
}

.checkbox:checked + .label .fa-moon {
    display: inline-block;
}

.checkbox:not(:checked) + .label .fa-sun {
    display: inline-block;
}

.checkbox:not(:checked) + .label .fa-moon {
    display: none;
}
  
/* Dark Mode Button 2 */

.checkbox-2:checked + .label {
    background-color: var(--almostBlack);
}

.checkbox-2:checked + .label .switch-2 {
    transform: translateX(30px);
    background-color: #333;
}

.checkbox-2:checked + .label .fa-sun {
    display: none;
}

.checkbox-2:checked + .label .fa-moon {
    display: inline-block;
}

.checkbox-2:not(:checked) + .label .fa-sun {
    display: inline-block;
}

.checkbox-2:not(:checked) + .label .fa-moon {
    display: none;
}


/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */

/* Media Queries */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        background-color: var(--almostWhite);
    }

    .main {
        max-width: 100vw;
        height: 100vh;
    }

    .header-logo {
        display: inline-block;
        width: 87px;
        height: 31px;
        margin-top: 24px;
        margin-left: 108px;
    }

    .img-container-mobile {
        width: 100%;
        max-width: 100vw;
        height: 415px;
        margin: 0 auto 69px auto;
        background-image: url('images/image-hero-mobile.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .hero-heading {
        margin-top: 0;
        margin-bottom: 44px;
        text-align: center;
        font-size: 54px;
    }

    .hero-desc {
        width: 55%;
        margin: 0px auto 55px auto;
        text-align: center;
        font-size: 20px;
        line-height: 1.6;
        color: var(--mediumGray);
    }

    .hero-btn {
        margin: 0 auto 51px auto;
    }


    .client-1 {
        width: 104px;
        height: 20px;
    }

    .client-2 {
        width: 70px;
        height: 31px;
    }

    .client-3 {
        width: 78px;
        height: 20px;
    }

    .client-4 {
        width: 71px;
        height: 25px;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .main {
        max-width: 100vw;
        height: 100vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .overlay {
        display: none;
    }

    .overlay-2 {
        display: none;
    }

    .img-container-mobile {
        display: none;
    }

    .img-container-desktop {
        display: inline-block;
        width: 100%;
        max-width: 404px;
        height: 479px;
        margin-top: 41px;
        margin-right: 129px;
        background-image: url('images/image-hero-desktop.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        order: 1;
    }

    #btnHamburger {
        display: none;
    }

    nav {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 25px;
    }

    .header-logo {
        margin-left: 40px;
        margin-right: 75px;
        margin-top: 30px;
    }

    .header-nav {
        display: flex;
        align-items: flex-start;
        margin-bottom: 6px;
        position: relative;
        top: 18px;
        left: -52px;
        font-size: 13px;
    }

    .header-nav > li:nth-child(1) {
        margin-right: -2px;
    }

    .header-arrow {
        position: absolute;
        left: 105px;
        top: 5px;
        transition: all 150ms ease-in-out;
    }

    .header-arrow.active {
        transform: rotate(180deg);
        filter:contrast(200);
    }

    .header-arrow.active.dark {
        filter:contrast(0) brightness(200%);
    }

    /* For Mouseover Events */

    .header-arrow.lighten {
        filter:contrast(200);
    }

    .header-arrow.darken {
        filter:contrast(0) brightness(200%);
    }

    .header-arrow2 {
        left: 68px
    }

    .header-link {
        text-decoration: none;
        color: var(--mediumGray);
        transition: 150ms ease-in-out;
    }

    .header-link:hover {
        color: var(--almostBlack);
    }

    .label {
        display: inline-block;
        width: 80px;
        height: 25px;
        position: relative;
        background-color: var(--almostWhite);
        border-radius: 40px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        transition: background 200ms linear;
        cursor: pointer;
    }

    .switch-2 {
        width: 15px;
        height: 15px;
        position: absolute;
        right: 5px;
        top: 5px;
        background-color: var(--almostWhite);
        border-radius: 50%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        transition: transform 200ms linear;
        cursor: pointer;
    }

    .header-features {
        width: 60px;
        display: inline-block;
    }

    /* Desktop Features Submenu */

    .features-submenu-desktop {
        display: none;
        width: 100%;
        max-width: 153px;
        height: 160px;
        padding: 27px 0px 0px 25px;
        position: absolute;
        top: 36px;
        left: -35px;
        background-color: var(--almostWhite);
        border-radius: 10px;
        list-style: none;
        animation: open 200ms linear, growDown 200ms linear;
        box-shadow: -1px 4px 20px -5px var(--mediumGray);
    }

    .features-submenu-desktop.dark-background {
        background-color: var(--almostBlack);
    }

    .features-submenu-desktop.show {
        display: inline-block;
    }

    .submenu-option {
        width: 69%;
        transition: 150ms ease-in-out;
        cursor: pointer;
    }

    .submenu-option:hover {
        color: var(--almostBlack);
    }

    .feature-subItem {
        width: 72%
    }

    .header-company {
        margin-left: -1px;
        position: relative;
        left: 47px;
    }

    /* Desktop Company Submenu */

    .company-submenu-desktop {
        display: none;
        width: 149%;
        max-width: 119px;
        height: 129px;
        padding-top: 31px;
        padding-left: 14px;
        position: absolute;
        left: 0px;
        top: 36px;
        background-color: var(--almostWhite);
        border-radius: 10px;
        color: var(--mediumGray);
        animation: open 200ms linear, growDown 200ms linear;
        box-shadow: -1px 4px 20px -5px var(--mediumGray);
    }
    
    .company-submenu-desktop.show {
        display: inline-block;
    }

    .company-submenu-desktop.dark-background {
        background-color: var(--almostBlack);
    }

    .company-submenu-desktop > li:nth-child(2) {
        width: 71%;
    }
    
    .company-submenu-desktop > li:not(:last-child) {
        margin-bottom: 15px;
    }

    .header-careers {
        margin-left: 43px;
        position: relative;
        left: 47px;
    }

    .header-about {
        margin-left: 40px;
        margin-right: 12vw;
        position: relative;
        left: 47px;
    }

    .desktop-login {
        position: relative;
        left: 149px;
        text-decoration: none;
        color: var(--mediumGray);
    }

    .header-btn {
        margin-left: 21px;
        position: relative;
        top: -13px;
        left: 145px;
    }

    .register-btn {
        width: 94px;
        height: 38px;
        background-color: var(--almostWhite);
        border: 2px solid var(--mediumGray);
        border-radius: 14px;
        font-size: 13px;
        font-family: Epilogue, sans-serif;
        color: var(--mediumGray);
        cursor: pointer;
        transition: 150ms ease-in-out;
        box-shadow: 0px 0px 3px -1px var(--almostBlack);
    }

    .register-btn:hover {
        border: 2px solid var(--almostBlack);
        color: var(--almostBlack);
    }

    .register-btn:active {
        box-shadow: 0px 0px 0px 0px;
    }

    /* Hero Section */

    .hero {
        display: flex;
    }

    .hero-content-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .hero-heading {
        display: inline-block;
        width: 338px;
        margin-left: 164px;
        margin-top: 124px;
        margin-bottom: 69px;
        position: relative;
        top: 24px;
        text-align: left;
        letter-spacing: -1.3px;
        font-size: 52px;
    }

    .hero-span {
        width: 100%;
        display: inline-block;
    }

    .hero-desc {
        width: 53%;
        margin-left: 164px;
        margin-bottom: 52px;
        text-align: left;
        font-size: 14px;
    }

    .hero-btn {
        width: 143px;
        height: 45px;
        margin: -1px 0 107px 165px;
        padding-bottom: 1px;
        font-size: 14px;
        font-weight: 700;
        box-shadow: 0px 0px 4px var(--mediumGray);
    }

    .clients {
        width: 50%;
        margin-left: 182px;
        margin-top: -35px;
    }

    .client-1 {
        width: 110px;
        height: 18px;
        margin-right: 16px;
        position: relative;
        top: 3px;
        left: -2px;
    }

    .client-2 {
        width: 67px;
        height: 31px;
        margin-right: 41px;
        position: relative;
        top: -5px;
        left: 12px;
    }

    .client-3 {
        width: 85px;
        height: 18px;
        margin-right: 23px;
        position: relative;
        top: 3px;
        left: 1px;
    }

    .client-4 {
        width: 79px;
        height: 23px;
        position: relative;
        top: 1px;
        left: 7px;
    }

    .icon {
        width: 18px;
        height: 20px;
        margin-left: 1px;
        position: relative;
        top: -4px;
    }

    .icon-1 {
        width: 14px;
        height: 16px;
        position: relative;
        left: 2px;
    }

    .icon-2 {
        width: 17px;
        height: 16px;
    }

    .icon-3 {
        width: 12px;
        height: 17px;
        position: relative;
        left: 3px;
    }

    .icon-4 {
        width: 16px;
        height: 16px;
        margin-left: 1px;
        position: relative;
        top: -2px;
        left: 1px;
    }

    ul > li:not(:last-child) {
        margin-bottom: 11px;
    }

    .toggle-container-mobile {
        display: none;
    }

    .toggle-container-desktop {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 599px;
        top: 24px;
        z-index: 1;
    }
} 

/* large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .main {
        max-width: 100vw;
        height: 100vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .overlay {
        display: none;
    }

    .overlay-2 {
        display: none;
    }

    .img-container-mobile {
        display: none;
    }

    .img-container-desktop {
        display: inline-block;
        width: 100%;
        max-width: 404px;
        height: 479px;
        margin-top: 41px;
        margin-right: 129px;
        background-image: url('images/image-hero-desktop.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        order: 1;
    }

    #btnHamburger {
        display: none;
    }

    nav {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 25px;
    }

    .header-logo {
        margin-left: 40px;
        margin-right: 75px;
        margin-top: 30px;
    }

    .header-nav {
        display: flex;
        align-items: flex-start;
        margin-bottom: 6px;
        position: relative;
        top: 18px;
        left: -52px;
        font-size: 13px;
    }

    .header-nav > li:nth-child(1) {
        margin-right: -2px;
    }

    .header-arrow {
        position: absolute;
        left: 106px;
        top: 5px;
        transition: all 150ms ease-in-out;
    }

    .header-arrow.active {
        transform: rotate(180deg);
        filter:contrast(200);
    }

    .header-arrow2 {
        left: 68px;
    }

    .header-link {
        text-decoration: none;
        color: var(--mediumGray);
        transition: 150ms ease-in-out;
    }

    .header-link:hover {
        color: var(--almostBlack);
    }

    .header-features {
        display: inline-block;
        width: 60px;
    }

    /* Desktop Features Submenu */

    .features-submenu-desktop {
        display: none;
        width: 100%;
        max-width: 153px;
        height: 160px;
        padding-left: 25px;
        padding-top: 27px;
        position: absolute;
        top: 36px;
        left: -35px;
        background-color: var(--almostWhite);
        border-radius: 10px;
        list-style: none;
        animation: open 200ms linear, growDown 200ms linear;
        box-shadow: 0px 0px 14px -5px var(--mediumGray);
    }

    .features-submenu-desktop.show {
        display: inline-block;
    }

    .submenu-option {
        width: 69%;
        transition: 150ms ease-in-out;
        cursor: pointer;
    }

    .submenu-option:hover {
        color: var(--almostBlack);
    }

    .submenu-option.gray-text:hover {
        color: var(--almostWhite);
    }

    .feature-subItem {
        width: 72%
    }

    .header-company {
        margin-left: -1px;
        position: relative;
        left: 47px;
    }

    /* Desktop Company Submenu */

    .company-submenu-desktop {
        display: none;
        width: 149%;
        max-width: 119px;
        height: 129px;
        padding-top: 31px;
        padding-left: 8px;
        position: absolute;
        left: 0px;
        top: 36px;
        background-color: var(--almostWhite);
        border-radius: 10px;
        color: var(--mediumGray);
        animation: open 200ms linear, growDown 200ms linear;
        box-shadow: 0px 0px 14px -5px var(--mediumGray);
    }
    
    .company-submenu-desktop.show {
        display: inline-block;
    }
    
    .company-submenu-desktop > li:nth-child(2) {
        width: 86%;
    }
    
    .company-submenu-desktop > li:not(:last-child) {
        margin-bottom: 15px;
    }

    .header-careers {
        margin-left: 43px;
        position: relative;
        left: 47px;
    }

    .header-about {
        margin-left: 40px;
        margin-right: 37vw;
        position: relative;
        left: 47px;
    }

    .desktop-login {
        position: relative;
        left: 26px;
        text-decoration: none;
        color: var(--mediumGray);
    }

    .header-btn {
        margin-left: 21px;
        position: relative;
        top: -13px;
        left: 26px;
    }

    .register-btn {
        width: 94px;
        height: 38px;
        background-color: var(--almostWhite);
        border: 2px solid var(--mediumGray);
        border-radius: 14px;
        font-family: Epilogue, sans-serif;
        font-size: 13px;
        color: var(--mediumGray);
        cursor: pointer;
        transition: 150ms ease-in-out;
        box-shadow: 0px 0px 3px -1px var(--almostBlack);
    }

    .register-btn:hover {
        border: 2px solid var(--almostBlack);
        color: var(--almostBlack);
    }

    .register-btn:active {
        box-shadow: 0px 0px 0px 0px;
    }

    /* Hero Section */

    .hero {
        display: flex;
    }

    .hero-content-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .hero-heading {
        display: inline-block;
        width: 338px;
        margin-left: 164px;
        margin-top: 124px;
        margin-bottom: 69px;
        position: relative;
        top: 24px;
        text-align: left;
        letter-spacing: -1.3px;
        font-size: 52px;
    }

    .hero-desc {
        width: 53%;
        margin-left: 164px;
        margin-bottom: 52px;
        text-align: left;
        font-size: 14px;
    }

    .hero-btn {
        width: 143px;
        height: 45px;
        margin: -1px 0 107px 165px;
        padding-bottom: 1px;
        font-size: 14px;
        font-weight: 700;
        box-shadow: 0px 0px 4px var(--mediumGray);
    }

    .clients {
        width: 50%;
        margin-left: 182px;
        margin-top: -35px;
    }

    .client-1 {
        width: 110px;
        height: 18px;
        margin-right: 16px;
        position: relative;
        top: 3px;
        left: -2px;
    }

    .client-2 {
        width: 67px;
        height: 31px;
        margin-right: 41px;
        position: relative;
        top: -5px;
        left: 12px;
    }

    .client-3 {
        width: 85px;
        height: 18px;
        margin-right: 23px;
        position: relative;
        top: 3px;
        left: 1px;
    }

    .client-4 {
        width: 79px;
        height: 23px;
        position: relative;
        top: 1px;
        left: 7px;
    }

    .icon-1 {
        width: 14px;
        height: 16px;
        position: relative;
        left: 2px;
    }

    .icon-2 {
        width: 17px;
        height: 16px;
    }

    .icon-3 {
        width: 12px;
        height: 17px;
        position: relative;
        left: 3px;
    }

    .icon-4 {
        width: 16px;
        height: 16px;
        margin-left: 1px;
        position: relative;
        top: -2px;
        left: 1px;
    }

    ul > li:not(:last-child) {
        margin-bottom: 11px;
    }
} 

/* Very large devices (very large laptops and desktops, 1440px and up) */
@media only screen and (min-width: 1440px) {

    .img-container-desktop {
        display: inline-block;
        width: 100%;
        max-width: 480px;
        height: 640px;
        margin-top: 41px;
        margin-right: 129px;
        background-image: url('images/image-hero-desktop.png');
        background-size: cover;
        background-position: center;
        order: 1;
    }

    .header-nav {
        font-size: 14px;
    }

    /* Desktop Features Submenu */

    .label {
        display: inline-block;
        width: 80px;
        height: 40px;
        position: relative;
        background-color: var(--almostWhite);
        border-radius: 40px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        transition: background 200ms linear;
        cursor: pointer;
    }

    .switch-2 {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 5px;
        top: 5px;
        background-color: var(--almostWhite);
        border-radius: 50%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        transition: transform 200ms linear;
        cursor: pointer;
    }

    .features-submenu-desktop.show {
        display: inline-block;
    }

    .features-submenu-desktop.dark-background {
        background-color: var(--almostBlack);
    }

    .submenu-option {
        width: 69%;
        transition: 150ms ease-in-out;
        cursor: pointer;
    }

    .submenu-option:hover {
        color: var(--almostBlack);
    }

    .feature-subItem {
        width: 72%
    }

    .header-company {
        margin-left: -1px;
        position: relative;
        left: 47px;
    }

    .feature-reminder {
        position: relative;
        left: 13px;
    }

    .feature-calendar {
        position: relative;
        left: 8px;
    }

    .feature-planning {
        position: relative;
        left: 9px;
    }

    .header-arrow1 {
        left: 109px;
    }

    .header-arrow2 {
        left: 72px;
    }

    /* Desktop Company Submenu */
 
    .header-about {
        margin-right: 45vw;
    }

    .register-btn {
        width: 104px;
        height: 42px;
        font-size: 14px;
    }

    /* Hero Section */

    .hero-content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero-heading {
        width: 62%;
        margin-left: 161px;
        margin-top: 119px;
        font-size: 80px;
    }

    .hero-desc {
        font-size: 18px;
    }

    .hero-btn {
        width: 163px;
        height: 55px;
        font-size: 17.5px;
    }

    .clients {
        margin-left: 175px;
        margin-top: 7px;
    }

    .client-1 {
        width: 114px;
        height: 20px;
        margin-right: 26px;
    }

    .client-2 {
        width: 73px;
        height: 36px;
        margin-right: 51px;
    }

    .client-3 {
        width: 90px;
        height: 20px;
        margin-right: 33px;
    }

    .client-4 {
        width: 86px;
        height: 24px;
    }

    .toggle-container-desktop {
        top: 17px;
    }
}

/* Very large devices (very large laptops and desktops, 1920px and up) */
@media only screen and (min-width: 1920px) {

    .img-container-desktop {
        max-width: 554px;
        height: 739px;
        margin-right: 129px;
    }

    .header-logo {
        margin-left: 0px;
        left: 0px;
    }

    .header-arrow1 {
        left: 117px;
    }

    .header-arrow2 {
        left: 81px;
    }

    .header-nav > li:nth-child(1) {
        width: 96px;
        margin-right: -2px;
    }

    ul > li:not(:last-child) {
        margin-bottom: 11px;
    }

    .hero-content-container {
        align-items: center;
    }


        /* New hero-heading */

    .hero-heading {
        width: 617px;
        margin-left: 180px;
        font-size: 93px;
        margin-right: auto;
    }

    .hero-desc {
        width: 43%;
        margin-left: 185px;
        font-size: 21px;
    }

    .hero-btn {
        align-self: flex-start;
        margin: 0px 0 169px 186px;
    }

    .header-logo {
        margin-right: 75px;
        margin-top: 30px;
        margin-left: 43px;
    }

    .header-link {
        font-size: 16px;
    }

    .header-features {
        width: 70px;
    }

    .header-company {
        left: 35px;
    }

    .header-about {
        margin-right: 56vw;
    }

    .clients {
        width: 58%;
        margin-left: -204px;
    }

    .toggle-container-desktop {
        left: 641px;
    }
}

/*Extra Large devices (laptops, 2560px and up) */
@media only screen and (min-width: 2560px) {
    .img-container-desktop {
        max-width: 757px;
        height: 1014px;
        margin-top: 121px;
        margin-left: 177px;
    }

    .hero {
        display: flex;
        height: 86%;
        margin-top: 60px;
    }
    
    .hero-content-container {
        width: 50%;
    }
    
    .hero-heading {
        width: 902px;
        margin-left: 175px;
        margin-bottom: 87px;
        margin-top: 159px;
        font-size: 135px;
    }
    
    .hero-desc {
        width: 66%;
        margin-left: 182px;
        margin-bottom: 87px;
        font-size: 35px;
    }
    
    .hero-btn {
        width: 322px;
        height: 99px;
        margin: 0px 0 113px 183px;
        border-radius: 31px;
        font-size: 35px;
    }
    
    .clients {
        width: 58%;
        margin-left: -211px;
    }

    .client-1 {
        width: 150px;
        height: 31px;
        margin-right: 17px;
    }
    
    .client-2 {
        width: 101px;
        height: 50px;
        margin-right: 34px;
    }
    
    .client-3 {
        width: 124px;
        height: 31px;
        margin-right: 22px;
    }
    
    .client-4 {
        width: 130px;
        height: 41px;
    }
    
    .header-logo {
        width: 142px;
        height: 49px;
        margin-top: 27px;
        margin-left: 37px;
        position: relative;
        top: 29px;
    }
    
    .logo-img {
        width: 136px;
        height: 49px;
    }
    
    .header-nav > li:nth-child(1) {
        width: 64px;
        margin-right: 115px;
    }
    
    .header-link {
        font-size: 27px;
    }
    
    .toggle-container-desktop {
        left: 988px;
        top: 3%;
    }
    
    .label {
        width: 101px;
        height: 50px;
    }
    
    .switch-2 {
        width: 40px;
        height: 40px;
    }
    
    .header-item {
        margin-top: 13px;
        margin-right: 31px;
    }
    
    .register-btn {
        width: 133px;
        height: 55px;
        font-size: 23px;
    }
    
    .header-arrow {
        width: 13px;
        position: absolute;
        left: 173px;
        top: 24px;
        transition: all 150ms ease-in-out;
    }
    
    .header-arrow2 {
        left: 139px;
        top: 9px;
    }
    
    .features-submenu-desktop {
        width: 100%;
        max-width: 247px;
        height: 316px;
        padding-left: 25px;
        padding-top: 49px;
        top: 78px;
        left: -55px;
    }
        
    .icon-1 {
        width: 30px;
        height: 29px;
    }
    
    .icon-2 {
        width: 33px;
        height: 34px;
    }
    .icon-3 {
        width: 24px;
        height: 32px;
    }
    .icon-4 {
        width: 29px;
        height: 27px;
    }
    
    .header-nav {
        font-size: 27px;
    }
    
    ul > li:not(:last-child) {
        margin-bottom: 25px;
    }
    
    .company-submenu-desktop {
        width: 161%;
        max-width: 279px;
        height: 272px;
        padding-top: 54px;
        padding-left: 25px;
        left: 0px;
        top: 51px;
    }

    .company-submenu-desktop > li:nth-child(2) {
        width: 76%;
    }
    
    .company-submenu-desktop > li:not(:last-child) {
        margin-bottom: 30px;
    }
    
    .desktop-login {
        margin-left: 1270px;
    }
    
    .submenu-option {
        margin-right: 10px;
    }
}

/* Extra large devices (large laptops and desktops, 3840px and up) */
@media only screen and (min-width: 3840px) {
    .img-container-desktop {
        max-width: 1189px;
        height: 1591px;
        margin-top: 181px;
        margin-left: 266px;
    }

    .hero {
        display: flex;
        height: 86%;
        margin-top: 90px;
    }

    .hero-content-container {
        width: 50%;
    }

    .hero-heading {
        width: 1538px;
        margin-left: 260px;
        margin-bottom: 131px;
        margin-top: 239px;
        font-size: 230px;
    }

    .hero-desc {
        width: 74%;
        margin-left: 272px;
        margin-bottom: 130px;
        font-size: 53px;
    }

    .hero-btn {
        width: 484px;
        height: 149px;
        margin: 0px 0 169px 275px;
        border-radius: 46px;
        font-size: 53px;
    }

    .client-1 {
        width: 224px;
        height: 47px;
        margin-right: 26px;
    }

    .client-2 {
        width: 151px;
        height: 75px;
        margin-right: 51px;
    }

    .client-3 {
        width: 186px;
        height: 47px;
        margin-right: 33px;
    }

    .client-4 {
        width: 196px;
        height: 62px;
    }

    .header-logo {
        width: 213px;
        height: 74px;
        margin-top: 41px;
        margin-left: 56px;
        position: relative;
        top: 24px;
    }

    .logo-img {
        width: 205px;
        height: 74px;
    }

    .header-nav > li:nth-child(1) {
        width: 96px;
        margin-right: 173px;
    }

    .header-link {
        font-size: 41px;
    }

    .toggle-container-desktop {
        left: 1340px;
        top: 2.5%;
    }

    .label {
        width: 151px;
        height: 75px;
    }

    .switch-2 {
        width: 60px;
        height: 60px;
    }

    .header-item {
        margin-top: 20px;
        margin-right: 47px;
    }

    .register-btn {
        width: 199px;
        height: 82px;
        font-size: 35px;
    }

    .header-arrow {
        width: 20px;
        position: absolute;
        left: 242px;
        top: 36px;
        transition: all 150ms ease-in-out;
    }

    .header-arrow2 {
        left: 207px;
        top: 14px;
    }

    .features-submenu-desktop {
        max-width: 338px;
        height: 458px;
        padding-left: 25px;
        padding-top: 64px;
        top: 90px;
        left: -79px;
    }

    .icon-1 {
        width: 40px;
        height: 39px;
    }

    .icon-2 {
        width: 43px;
        height: 44px; 
    }
    .icon-3 {
        width: 34px;
        height: 42px;
    }
    .icon-4 {
        width: 39px;
        height: 37px;        
    }

    .header-nav {
        font-size: 37px;
    }

    ul > li:not(:last-child) {
        margin-bottom: 35px;
    }

    .company-submenu-desktop {
        width: 149%;
        max-width: 282px;
        height: 292px;
        padding-top: 50px;
        padding-left: 25px;
        left: 0px;
        top: 61px;
    }

    .company-submenu-desktop > li:not(:last-child) {
        margin-bottom: 40px;
    }

    .desktop-login {
        margin-left: 1900px;
    }

    .submenu-option {
        margin-right: 0px;
    }
}
